* {
	text-decoration: none;
	list-style: none;
}
header{
	display: flex;
	height: 10vh;
	background: linear-gradient(0deg, rgba(79,0,136,1) 20%, rgba(51,0,88,1) 95%);
	justify-content: center;
	border-bottom: 1px solid #cacaca;
	overflow: hidden;
	z-index: 999;
}
@keyframes animation-header {
	from{
		clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
	}
	to{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
header ul{
	display: flex;
	align-items: center;
}
header ul li:first-child{
	margin-right: 50px;
}
header ul li:not(:first-child){
	padding: 8.5vh 1.5vw;
}

header ul li:not(:nth-child(1), :nth-child(4), :nth-child(5)):hover{
	transform: rotate(2deg);
}
header ul li:not(:nth-child(1), :nth-child(2), :nth-child(3)):hover{
	transform: rotate(-2deg);
}
header ul li svg{
	animation: animation-header .6s ease-in-out forwards;
	position: relative;
	top: 0.5vh;
	min-width: 72px;
}
header ul li a{
	font-size: 1.5vh;
	text-transform: uppercase;
	position: relative;
	padding: 15px 10px;
	font-family: 'Monda', sans-serif;
}