* {
	text-decoration: none;
	list-style: none;
}
header{
	display: flex;
	height: 10vh;
	background-color: #000;
	/*background: linear-gradient(0deg, #4f0088 20%, #330058 95%);*/
	justify-content: center;
	border-bottom: 1px solid #cacaca;
	overflow: hidden;
	z-index: -999;
}
@keyframes animation-header {
	from{
		clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
	}
	to{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
header ul{
	display: flex;
	align-items: center;
}
header ul li{
	padding: 8.5vh 2vw;
}
header ul li span{
	font-size: 1.5vh;
	text-transform: uppercase;
	position: relative;
	padding: .5vh .5vw;
	border-radius: 7px;
	background-color: #0000004d;
	font-family: 'Monda', sans-serif;
}