.section{
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #222
}
.layer{
	position: absolute;
	top: 0;
	left: -20%;
	width: 100%;
	height: 100vh;
	box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
	transition: 400ms;
}
.layer.layer1{
	background-color: #333;
	transform: skewX(-45deg) translateX(0);
	z-index: 1;
}
.layer.layer1:hover{
	background-color: #FFE459;
}
.layer.layer2{
	background-color: #555;
	transform: skewX(-45deg) translateX(-100px);
	z-index: 3;
}
.layer.layer2:hover{
	background-color: #43D8C9;
}
.layer.layer3{
	background-color: #777;
	transform: skewX(-45deg) translateX(-200px);
	z-index: 5;
}
.layer.layer3:hover{
	background-color: #fff;
}
.layer.layer4{
	background-color: #222;
	transform: skewX(-45deg) translateX(-300px);
	z-index: 10;
}
.layer.layer5{
	background-color: #FFE459;
	transform: skewX(45deg) translateX(0);
	z-index: 2;
}
.layer.layer6{
	background-color: #43D8C9;
	transform: skewX(45deg) translateX(-100px);
	z-index: 4;
}
.layer.layer7{
	background-color: #fff;
	transform: skewX(45deg) translateX(-200px);
	z-index: 6;
}
.layer.layer8{
	background-color: #222;
	transform: skewX(45deg) translateX(-300px);
	z-index: 8;
}
.layer.layer9{
	background-color: transparent;
	transform: skewX(45deg) translateX(-300px);
	z-index: 10;
}

